<mat-dialog-content>
  <form #form="ngForm">
    <div [ngClass]="classCss" role="alert" *ngIf="message">
      <strong>{{message.text}}</strong>
    </div>
    <div>

      <mat-form-field>
        <input matInput placeholder="ID" name="id" [(ngModel)]="baseObject.componentId" id="inputId" #profileId="ngModel"
          placeholder="ID" [disabled]="true">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput name="componentName" [(ngModel)]="baseObject.componentName" id="inputcomponentName"
          #profileName="ngModel" placeholder="Name" [disabled]="readOnlyForm" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput name="routerLink" [(ngModel)]="baseObject.routerLink" id="inputrouterLink"
          #profileName="ngModel" placeholder="Link" [disabled]="readOnlyForm" required>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="accent">Cancel</button>
  <button (click)="save()" mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary"
    [disabled]="!form.valid">Save</button>

</mat-dialog-actions>
