<app-generic-search
  searchTitle="Pesquisa de Menu de Ajuda"
  [searchFields]="searchModel"
  (searchEvent)="search($event)">
</app-generic-search>

<app-tablepaginated 
  headerTitle="Cadastro de Menu de Ajuda"
  [service]="helpMenuService" 
  objectKey="helpMenuId"
  [tableModel]="helpMenuModel"
  [editMethod]="openDialog"
  [createMethod]="openDialog"
  [detailMethod]="openDialog"
  [deleteMethod]="delete"
  [dialogService]="dialog"
  [modalDialog]="modal"
  [childModal]="childView">
</app-tablepaginated>