<form #form="ngForm">
  <div>
    <mat-form-field>
      <input matInput name="countryAddress" [(ngModel)]="address.countryAddress" id="countryAddress" placeholder="Pais"
        [disabled]="readOnlyForm" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput name="addressCity" [(ngModel)]="address.addressCity" id="addressCity" placeholder="Cidade"
        [disabled]="readOnlyForm" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput name="addressDistrict" [(ngModel)]="address.addressDistrict" id="addressDistrict"
        placeholder="Estado" [disabled]="readOnlyForm" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput name="addressStreet" [(ngModel)]="address.addressStreet" id="addressStreet" placeholder="Endereço"
        [disabled]="readOnlyForm" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput name="addressNumber" [(ngModel)]="address.addressNumber" id="addressNumber" placeholder="Número"
        [disabled]="readOnlyForm" required>
    </mat-form-field>
  </div>

  <div>
    <mat-checkbox style="margin: 0 10px" name="disabled" [(ngModel)]="address.disabled" id="inputDisabled"
      [disabled]="readOnlyForm">
      Desabilitado
    </mat-checkbox>
  </div>
  <div>

    <button mat-raised-button (click)="clearAddress()">Limpar Endereço</button>
    <button mat-raised-button (click)="addEvent()" [disabled]="!form.valid">Adicionar na Lista</button>
  </div>
</form>