<mat-dialog-content>
    <form #form="ngForm">
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{message.text}}</strong>
      </div>
      <div>
  
        <mat-form-field>
          <input matInput placeholder="ID" name="id" [(ngModel)]="baseObject.typeContactId" id="inputId" #typeContactId="ngModel"
            placeholder="ID" [disabled]="true">
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field>
          <input matInput name="typeContactName" [(ngModel)]="baseObject.typeContactName" id="inputtypeContactName"
            #typeContactName="ngModel" placeholder="Name" [disabled]="readOnlyForm" required>
        </mat-form-field>
      </div>
  
      <div>
  
        <mat-checkbox style="margin: 0 10px" name="disabled" [(ngModel)]="baseObject.disabled" id="inputDisabled" [disabled]="readOnlyForm" #disabled="ngModel">
          Desabilitado
        </mat-checkbox>
  
      </div>
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">Cancel</button>
    <button (click)="save()" mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary"
      [disabled]="!form.valid">Save</button>
  
  </mat-dialog-actions>
  